.category_rod {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
  border-top: 1px solid #f6f6f6;
}

.categories_twoBlock {
  margin-left: 22px;
  display: flex;
}

.div_listPrice_rod {
  margin-right: 40px;
  width: 120px;
}

.div_listPrice {
  /* border: 1px solid #333; */
  width: 120px;
}

.div_span_rod_price {
  display: flex;
  justify-content: center;
}

.ul_listPrice {
  /* border: 1px solid #333; */
}

.liNoPriceActiv {
  list-style-type: none;
  cursor: pointer;
  font-family: PTSansSort;
  font-size: 17px;
  letter-spacing: 0;
}

.liNoPriceActiv:hover {
  list-style-type: none;
  cursor: pointer;
}

.liPriceActive {
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #282828;
  list-style-type: none;
  color: rgb(194, 0, 0);
  cursor: pointer;
  font-family: PTSansSort;
  font-size: 17px;
  letter-spacing: 0;
}

.div_listReting_rod {
  margin-right: 40px;
  display: flex;
}

.div_listReting {
  /* border: 1px solid #333; */
  width: 135px;
}

.div_span_rod_rating {
  display: flex;
  justify-content: center;
}

.div_span {
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #282828;
  color: #fff;
  width: 120px;
  font-family: PTSansSort;
  font-size: 15px;
}

.span_rating {
}

.ul_listReting {
  width: 140px;
  /* border: 1px solid #333; */
}

/* //////// */

.categories_input {
  display: flex;
  align-items: center;
  width: 360px;
  margin-right: 22px;
}

.input_span {
  margin-right: 15px;
  font-family: PTSansSort;
  font-size: 17px;
  letter-spacing: 0;
  border-bottom: 2px solid #f6f6f6;
}

.input {
  border-radius: 8px;
  height: 35px;
  box-sizing: border-box;
  padding-left: 25px;
}

.input::placeholder {
  padding-left: 20px;
  font-family: PTSansSearchPlaceholder;
  font-size: 16px;
}

.search_icon {
  position: relative;
  left: 25px;
  top: 5px;
  width: 22px;
  height: 22px;
}
