.munu {
  display: flex;
  padding: 10px 20px;
  background-color: #fff;
}

.categoryNoActive {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  list-style-type: none;
  font-family: PTSansMenu;
  letter-spacing: 0.8px;
}
.categoryActive {
  background-color: #282828;
  color: #fff;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  list-style-type: none;
  font-family: PTSansMenu;
  letter-spacing: 0.8px;
}

.category_rod {
  display: flex;
  justify-content: space-around;
  border: 1px solid #333;
}

.categories_twoBlock {
  display: flex;
}

.div_listPrice_rod {
  width: 160px;
}

.ul_listPrice {
  border: 1px solid #333;
}

.NoPriceActiv {
  list-style-type: none;
  cursor: pointer;
}

.PriceActive {
  list-style-type: none;
  color: red;
  cursor: pointer;
}

.div_listReting_rod {
  display: flex;
}

.div_listReting {
  border: 1px solid #333;
}

.ul_listReting {
  border: 1px solid #333;
}

.categories_input {
  display: flex;
  align-items: center;
  width: 360px;
}

.input_span {
  margin-right: 15px;
}

.input {
  border-radius: 8px;
  height: 35px;
  box-sizing: border-box;
  padding-left: 25px;
}

.input::placeholder {
  padding-left: 20px;
}

.search_icon {
  position: relative;
  left: 25px;
  top: 5px;
  width: 22px;
  height: 22px;
}
