.munu {
  display: flex;
  padding: 10px 20px;
  background-color: #fff;
}

.categoryNoActive {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  list-style-type: none;
}
.categoryActive {
  background-color: #282828;
  color: #fff;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  list-style-type: none;
}

.category_rod {
  display: flex;
  border: 1px solid #333;
}

.div_listPrice {
  width: 160px;
  border: 1px solid #333;
}

.ul_listPrice {
  border: 1px solid #333;
}

/* s.categoriesLiPriceActive {
  color: #cd0101;
  display: flex;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}

s.categoriesLiPriceNoActive {
  color: #282828;
  display: flex;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}

.CategoriesLi {
  display: flex;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
}

.CategoriesLiActiv {
  color: #cd0101;
  display: flex;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
} */

.PriceActive {
  color: red;
}

.div_listReting {
  width: 160px;
  border: 1px solid #333;
}

.ul_listReting {
  border: 1px solid #333;
}
