.burger_block_wrapper {
  display: flex;
  justify-content: center;
}
.burger_block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
  background-color: #fff;
}

.burger_block__image {
  width: 260px;
  height: 200px;
}

.burger_block__title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}

.burger_lock__selector {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 0px;
}

.burger_block__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.burger_block__price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.button_button__outline {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 142px;
}

.countButton {
  margin: 0;
}

.FaMinusReact {
  width: 30px;
  height: 25px;
  background-color: #bcbcbc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.FaPlusReact {
  width: 30px;
  height: 25px;
  background-color: #bcbcbc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
