.header {
  background-color: #fff;
  border-bottom: 1px solid #f6f6f6;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__logo {
  display: flex;
  align-items: center;
}

h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}

p {
  color: #7b7b7b;
}

img {
  margin-right: 15px;
}

.corzina {
  width: 164px;
  height: 50px;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
}

.totlaPrice {
  color: #fff;
  cursor: pointer;
}

.totlaPrice::before {
  content: '';
  position: absolute;
  height: 22px;
  width: 1px;
  background-color: #fff;
  left: 78px;
}

.countBurger {
  color: #fff;
  cursor: pointer;
}

.iconCorzina {
  padding-left: 45px;
}

.headerBurgerLogo {
  text-decoration: none;
}
