.header {
  background-color: #fff;
  border-bottom: 1px solid #f6f6f6;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.name {
  text-align: start;
}

h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}

p {
  color: #7b7b7b;
}

.img_logo {
  margin-right: 15px;
  width: 120px;
  -webkit-box-shadow: 0px 0px 5px 6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 5px 6px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 5px 6px rgba(34, 60, 80, 0.2);
}

.corzina {
  width: 164px;
  height: 50px;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
}

.totlaPrice {
  color: #fff;
  cursor: pointer;
}

.totlaPrice::before {
  content: '';
  position: absolute;
  height: 22px;
  width: 1px;
  background-color: #fff;
  left: 78px;
}

.countBurger {
  color: #fff;
  cursor: pointer;
}

.iconCorzina {
  padding-left: 45px;
}

.headerBurgerLogo {
  font-family: PTSans;
  text-decoration: none;
}
