@font-face {
  font-family: PTSans;
  src: url(../public/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: PTSansMenu;
  src: url(../public/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: PTSansSort;
  src: url(../public/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: PTSansSearchPlaceholder;
  src: url(../public/fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: PTSansContentTitle;
  src: url(../public/fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: PTSansButtonCategories;
  src: url(../public/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: PTSansBurgerBlockTitle;
  src: url(../public/fonts/Roboto-Light.ttf);
}

.App {
  text-align: center;
  width: 1400px;
  margin: 20px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
