body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #777777;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: PTSans;
  src: url(../../../public/PTSans-Regular.ttf);
}

@font-face {
  font-family: PTSansBold;
  src: url(../../../public/PTSans-BoldItalic.ttf);
}

@font-face {
  font-family: SansBoldItalic;
  src: url(../../../public/Fonts/Oswald-ExtraLight.ttf);
}

@font-face {
  font-family: SansBoldItalich;
  src: url(../../../public/Fonts/Oswald-Bold.ttf);
} */
